# Byte-compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Logs
logs/

# Virtual environment
venv/

# OS-specific files
Thumbs.db
*.DS_Store

# IDE-specific files
.vscode/
.idea/

# Report files
reports/

# Other unnecessary files
*.log
*.tmp
*.swp
".env" 
